body {
    padding-top: 20px;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.btn-primary {
    background-color: #3498db;
    border-color: #2980b9;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #2980b9;
    border-color: #1c669a;
}

.btn-success {
    background-color: #2ecc71;
    border-color: #27ae60;
    border-radius: 5px;
}

.btn-success:hover {
    background-color: #27ae60;
    border-color: #1e874b;
}

#receiptOutput {
    margin-top: 20px;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #2c3e50;
}

#receiptOutput h2 {
    color: #34495e;
}

#receiptOutput p, #receiptOutput h4 {
    margin-bottom: 10px;
}

hr {
    border: 1px solid #bdc3c7;
}
